<h2>Welcome to Money Manager</h2>
@if (Session["UserID"] != null)
{
    <h1>Welcome Back, @Session["Name"].ToString()!</h1>

    <label>Total Balance: </label> @ViewBag.TB
    <br />
    <label>Total Expenses: </label> @ViewBag.TE
    <br />
    <label>Total: </label> @ViewBag.T2
}
